{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Register</h2>
<form enctype="multipart/form-data" class="signup" method="POST"">
  {% csrf_token %}
  Username:
  {{ user_form.username }}
  <br>
  <br>
  Email:
  {{ user_form.email }}
  <br><br>
  Password:
  {{ user_form.password }}
  <br><br>
  Role:
  {{ user_form.role }}
<div class="button">
  <input type="submit" name="" value="Register" id="save" style="text-align:center;">
</div>

</form>
{% endblock %}
