{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
</head>
<body>
  <!-- Create a container for the cards -->
  <div class="timeline-card-container">
    <!-- Card 1 -->
    {% for pk, project_data in feed_dict.items %}
    <!-- Card for each project -->
    <div class="timeline-container">
      <div class="head">
        <h2 class="title">Project Name: {{ project_data.name }}</h2>
      </div>
      <ul class="list-updates">
        <!-- Feed items for this project -->
        {% for msg, date in project_data.feed %}
        <li class="update">
          <span class="time">{{ date }}</span>
          <p>{{ msg }}</p>
        </li>
        {% endfor %}
      </ul>
      <div class="all-updates">
        <a href="{% url 'updates' pk=pk %}"><button class="all" >Show All Updates</button></a>
      </div>
    </div>
    {% endfor %}

    
    <div class="timeline-container">
      <div class="head">
        <h2 class="title">Project Title</h2>
      </div>
      <ul class="list-updates">
        <li class="update">
          <span class="time">19:50</span>
          <p>Delete More than 50 Products.</p>
        </li>
        <li class="update">
          <span class="time">16:13</span>
          <p>Add Some new products, and change prices.</p>
        </li>
        <li class="update">
          <span class="time">13:35</span>
          <p>Make Discounts in more than 15 products.</p>
        </li>
      </ul>
      <div class="all-updates">
        <a href="feed2.html"><button class="all">Show All Updates</button></a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="timeline-container">
      <div class="head">
        <h2 class="title">Project Title</h2>
      </div>
      <ul class="list-updates">
        <li class="update">
          <span class="time">19:50</span>
          <p>Delete More than 50 Products.</p>
        </li>
        <li class="update">
          <span class="time">16:13</span>
          <p>Add Some new products, and change prices.</p>
        </li>
        <li class="update">
          <span class="time">13:35</span>
          <p>Make Discounts in more than 15 products.</p>
        </li>
      </ul>
      <div class="all-updates">
        <a href="feed2.html"><button class="all">Show All Updates</button></a>
      </div>
    </div>
    <div class="timeline-container">
        <div class="head">
            <h2 class="title">Project Title</h2>
            
        </div>
        <ul class="list-updates">
          <li class="update">
            <span class="time">19:50</span>
            <p>Delete More than 50 Products.</p>
          </li>
          <li class="update">
            <span class="time">16:13</span>
            <p>Add Some new products, and change prices.</p>
          </li>
          <li class="update">
            <span class="time">13:35</span>
            <p>Make Discounts in more than 15 products.</p>
          </li>
        </ul>
        <div class="all-updates">
            <a href="feed2.html"><button class="all">Show All Updates</button></a>
        </div>
      </div>
      <div class="timeline-container">
        <div class="head">
            <h2 class="title">Project Title</h2>
        </div>
        <ul class="list-updates">
          <li class="update">
            <span class="time">19:50</span>
            <p>Delete More than 50 Products.</p>
          </li>
          <li class="update">
            <span class="time">16:13</span>
            <p>Add Some new products, and change prices.</p>
          </li>
          <li class="update">
            <span class="time">13:35</span>
            <p>Make Discounts in more than 15 products.</p>
          </li>
        </ul>
        <div class="all-updates">
            <a href="feed2.html"><button class="all">Show All Updates</button></a>
        </div>
      </div>
    <!-- Repeat the above card structure for additional cards -->
  </div>


</body>
</html>
