{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
</head>
<body>
  <!-- Create a container for the cards -->
  <div class="timeline-card-container">
    <!-- Card 1 -->
    {% for key, value in feed.items %}
    <div class="timeline-container">
      <div class="head">
        <h2 class="title">{{key.name}}</h2>
        <!-- <h3 class="details">{{key.project.univ}}</h3> -->
      </div>
      <ul class="list-updates">
        {%for msg,date in value%}
        <li class="update">
          <span class="time">{{date}}</span>
          <p>{{msg}}</p>
        </li>
        {%endfor%}
        <!-- <li class="update">
          <span class="time">16:13</span>
          <p>Add Some new products, and change prices.</p>
        </li>
        <li class="update">
          <span class="time">13:35</span>
          <p>Make Discounts in more than 15 products.</p>
        </li>
      </ul> -->
      <div class="all-updates">
        <a href=""><button class="all" >Show All Updates</button></a>
      </div>
    </div>
    
    {%endfor%}

    
    <div class="timeline-container">
      <div class="head">
        <h2 class="title">Project Title</h2>
      </div>
      <ul class="list-updates">
        <li class="update">
          <span class="time">19:50</span>
          <p>Delete More than 50 Products.</p>
        </li>
        <li class="update">
          <span class="time">16:13</span>
          <p>Add Some new products, and change prices.</p>
        </li>
        <li class="update">
          <span class="time">13:35</span>
          <p>Make Discounts in more than 15 products.</p>
        </li>
      </ul>
      <div class="all-updates">
        <a href="feed2.html"><button class="all">Show All Updates</button></a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="timeline-container">
      <div class="head">
        <h2 class="title">Project Title</h2>
      </div>
      <ul class="list-updates">
        <li class="update">
          <span class="time">19:50</span>
          <p>Delete More than 50 Products.</p>
        </li>
        <li class="update">
          <span class="time">16:13</span>
          <p>Add Some new products, and change prices.</p>
        </li>
        <li class="update">
          <span class="time">13:35</span>
          <p>Make Discounts in more than 15 products.</p>
        </li>
      </ul>
      <div class="all-updates">
        <a href="feed2.html"><button class="all">Show All Updates</button></a>
      </div>
    </div>
    <div class="timeline-container">
        <div class="head">
            <h2 class="title">Project Title</h2>
            
        </div>
        <ul class="list-updates">
          <li class="update">
            <span class="time">19:50</span>
            <p>Delete More than 50 Products.</p>
          </li>
          <li class="update">
            <span class="time">16:13</span>
            <p>Add Some new products, and change prices.</p>
          </li>
          <li class="update">
            <span class="time">13:35</span>
            <p>Make Discounts in more than 15 products.</p>
          </li>
        </ul>
        <div class="all-updates">
            <a href="feed2.html"><button class="all">Show All Updates</button></a>
        </div>
      </div>
      <div class="timeline-container">
        <div class="head">
            <h2 class="title">Project Title</h2>
        </div>
        <ul class="list-updates">
          <li class="update">
            <span class="time">19:50</span>
            <p>Delete More than 50 Products.</p>
          </li>
          <li class="update">
            <span class="time">16:13</span>
            <p>Add Some new products, and change prices.</p>
          </li>
          <li class="update">
            <span class="time">13:35</span>
            <p>Make Discounts in more than 15 products.</p>
          </li>
        </ul>
        <div class="all-updates">
            <a href="feed2.html"><button class="all">Show All Updates</button></a>
        </div>
      </div>
    <!-- Repeat the above card structure for additional cards -->
  </div>


</body>
</html>
