{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card">
        <h1>{{ project.name }}</h1>
        <ol class="activity-feed">
          {% for f in feed %}
          <li class="feed-item">
            <span class="text">{{ f.message }}</span>
          </li>
          {% endfor %}
        <li class="feed-item">
            <span class="text">Responded to need Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus accusamus commodi, id minus iusto, sequi adipisci aperiam explicabo soluta officiis eveniet, unde ipsam corporis. Nulla omnis alias explicabo dolores eum!</span>
        </li>
        <li class="feed-item">
            <span class="text">Responded to need Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus accusamus commodi, id minus iusto, sequi adipisci aperiam explicabo soluta officiis eveniet, unde ipsam corporis. Nulla omnis alias explicabo dolores eum!</span>
        </li>
        <li class="feed-item">
            <span class="text">Responded to need Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus accusamus commodi, id minus iusto, sequi adipisci aperiam explicabo soluta officiis eveniet, unde ipsam corporis. Nulla omnis alias explicabo dolores eum!</span>
        </li>
        <li class="feed-item">
            <span class="text">Responded to need Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus accusamus commodi, id minus iusto, sequi adipisci aperiam explicabo soluta officiis eveniet, unde ipsam corporis. Nulla omnis alias explicabo dolores eum!</span>
        </li>
      </ol>
    </div>
  </div>
</body>
</html>
